
# Prisma supports the native connection string format for PostgreSQL, MySQL,
# SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the Prisma documentation for all the connection string
# options: https://pris.ly/d/connection-strings

# This DATABASE_URL string connects to a local MongoDB replica set.
# See README.md for instructions on running MongoDB locally in Docker.
DATABASE_URL="mongodb+srv://papinos-main-db-0061c8d5820:QmyQJxG364QnBpyGu6m7acEC2Jm4YT@prod-us-central1-1.lfuy1.mongodb.net/papinos-main-db-0061c8d5820"
